<div class="menu-container">
    <div class="menu">
        <h1 class="menu-title">EPIX</h1>

        <a href="/Warehouse/AutoSkj" class="menu-btn">
            Automatiska Uppdrag
        </a>

        <a href="/Warehouse/InboundLogistics" class="menu-btn">
            Inleverans
        </a>

        <a class="menu-btn disabled-btn">Test</a>
        <a class="menu-btn disabled-btn">Test</a>
        <a class="menu-btn disabled-btn">Test</a>
    </div>
</div>
