@model Epixx.Models.DTO.IndexDTO
<div class="menu-container">
    <div class="menu">
        <h1 class="menu-title">EPIX</h1>

        <a href="/Auto/FindAutoMission" class="menu-btn @(Model.Count == 0 ? "disabled-btn" : "")">
            Automatiska Uppdrag
        </a>
        <a href="/Warehouse/InboundLogistics" class="menu-btn">
            Inleverans
        </a>
       
        <a href="/Admin" class="menu-btn">
            Lager och Pallhantering
        </a>
        <a class="menu-btn disabled-btn">Test</a>
        <form method="post" asp-action="Logout" asp-controller="Home">
            <button type="submit" class="menu-btn">Logga ut</button>
            @Html.AntiForgeryToken()
        </form>
    </div>
</div>