<div class="login-wrapper">
    <form class="login-card" method="post" action="/Home/Login">
        <h1 class="login-title">EPIX</h1>

        <input name="username" class="form-input" type="text" placeholder="Ange användarnamn..." />
        <input name="password" class="form-input" type="password" placeholder="Ange Lösenord..." />

        <button type="submit" class="login-btn">Login</button>
    </form>
</div>
