@{
    Layout = "_AdminLayout";
}
<form method="post" asp-action="CreateUser" asp-controller="Admin" class="admin-form">
    <div>
        <label>Användarnamn (email)</label>
        <input name="username" type="text" />
    </div>
    <div>
        <label>Lösenord</label>
        <input name="password" type="password" />
    </div>
    <div>
        <label>Roll</label>
        <select name="role">
            @foreach (var r in ViewBag.Roles)
            {
                <option value="@r.Name">@r.Name</option>
            }
        </select>
    </div>
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="error-message">@ViewData.ModelState.Values.FirstOrDefault()?.Errors.FirstOrDefault()?.ErrorMessage</div>
    }
    <button type="submit">Skapa användare</button>
</form>

