<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Admin</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Admin.css" asp-append-version="true" />

</head>
<body>
    @* Include the admin menu *@
    @await Html.PartialAsync("_AdminMenu")

    <div class="admin-content">
        @RenderBody()
    </div>
    <script src="~/js/Admin.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>