@model List<Epixx.Models.Pallet>

@foreach (var pallet in Model)
{
    <tr>
        <td class="barcodes" style="font-size: 1.5rem;">@pallet.Barcode</td>
        <td>@pallet.Description</td>
        <td>@pallet.Height</td>
    </tr>
}

